@model MeldingAppX.Mvc.Models.NoticeForm

@{
    ViewBag.Title = "Nieuwe melding aanmaken";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Notice", FormMethod.Post, new{ enctype = "multipart/form-data"})) 
{
    <div>
        @Html.ValidationSummary(true)

        <div>
            @Html.LabelFor(m => m.Building)
            <div>
                @Html.DropDownListFor(m => m.Building, Model.Buildings)
                @Html.ValidationMessageFor(m => m.Building)
            </div>
        </div>

        <div>
            @Html.LabelFor(m => m.Category)
            <div>
                @Html.DropDownListFor(m => m.Category, Model.Categories)
                @Html.ValidationMessageFor(m => m.Category)
            </div>
        </div>

        <div>
            @Html.LabelFor(m => m.AdditionalLocation)
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.AdditionalLocation)
                @Html.ValidationMessageFor(m => m.AdditionalLocation)
            </div>
        </div>

        <div>
            @Html.LabelFor(m => m.ReporterName)
            <div>
                @Html.TextBoxFor(m => m.ReporterName)
                @Html.ValidationMessageFor(m => m.ReporterName)
            </div>
        </div>

        <div>
            @Html.LabelFor(m => m.PhoneNumber)
            <div>
                @Html.TextBoxFor(m => m.PhoneNumber)
                @Html.ValidationMessageFor(m => m.PhoneNumber)
            </div>
        </div>

        <div>
            @Html.LabelFor(m => m.Comment)
            <div>
                @Html.TextAreaFor(m => m.Comment)
                @Html.ValidationMessageFor(m => m.Comment)
            </div>
        </div>
        <div>
            <label for="image">Foto uploaden:</label>
            <div>
                <input type="file" name="photo"/>
            </div>
        </div>
        <input type="submit" value="Create" />
    </div>
}